<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soutien à la formation en génie</title>
    <link rel="stylesheet" href="../public/css/styleMain.css" />
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<header>

    <div class="banner">
        <img src="../public/logo.png"/>
    </div>
    <h1></h1>
    <nav>
        <ul>
            <li> <a href="index.html" class="active">Accueil</a></li>
            <li> <a href="#l" >Questionnaires</a></li>
            <li><a href="#">Tutorat en ligne</a></li>
            <li><a href="#">Environnement collaboratif</a></li>
            </hr>
        </ul>
    </nav>
</header>
<article>
    <div class="row">
        <div class="col-sm-4">
            <h3>Questionnaires</h3>
            <h4>Preparations aux examens a l'aide des questionnaires d'examens</h4>
        </div>

        <div class="col-sm-4">
            <h3>Tutorat</h3>
            <h4>Obtenez de l'aide pour vos cours &agrave; distance</h4>
        </div>

        <div class="col-sm-4">
            <h3>Environnement collaboratif</h3>
            <h4>Travailler en &eacute;quipe avec des moyens puissants</h4>
        </div>

    </div>

</article>
<footer>

</footer>
</body>
</html>