
html,body
{
    font-family: "Segoe UI";
    padding: 0px;
    height: 100%;
    min-height: 100%;

}
.main-horiz-gradient
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 */

}
.main-horiz-gradient2
{
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(226,226,226,1) 0%, rgba(209,209,209,1) 22%, rgba(219,219,219,1) 27%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(226,226,226,1) 0%,rgba(209,209,209,1) 22%,rgba(219,219,219,1) 27%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(226,226,226,1) 0%,rgba(209,209,209,1) 22%,rgba(219,219,219,1) 27%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 */

}
.main-horiz-gradient3
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */

}

.banner
{
   margin: -20px;
    padding:20px;
}
#main-container
{
    margin: auto;
    width: 75%;
    min-height: 100%;
    /*background-color: white;*/


}
.main-clear
{
    /*min-height: 100%;*/
   /* padding-bottom:50px;*/
}
.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:20px;
}
.footer h6
{
    text-align: center;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* background-color: #333;*/

}
nav
{
    border-radius: 0px 0px 36px 8px;
    /*box-shadow: 3px 3px 3px #111;*/
    /*width: 104%;
    margin-left:-2%;*/
    /*padding-left: 1%;*/
    font-family: 'Overlock SC', cursive;
}
li {
    float: left;
}

/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    !*border-radius: 0 36px 36px 0;
    border-color: white;*!
    margin-right: 25px;

}*/

/* Change the link color to #111 (black) on hover */
li a:hover {
    /*background-color: #111;*/
    text-decoration: none;
    color:white;
    box-shadow: 3px 3px 3px #111;
    transition-property: box-shadow;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    /*animation: menu-animation .5s;
    animation-fill-mode: forwards;*/
}
/*nav .active {
    background-color: #4CAF50;
}*/
@keyframes menu-animation {

    0%{ transform:skew(0deg,0deg);}
    50%{ transform:skew(1deg,1deg);}
    100%{ transform:skew(2deg,2deg);}


}
.float-left
{
    /*float: left;*/
    display:inline;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.navbar {
    margin-bottom: 0;
    /*background-color: #f4511e;*/
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.navbar-default {
    background: #5f5f5f;
}
.menu-container
{
    margin: 0 auto;
    width:75%;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.clear-top
{
    padding-top: 50px;
}
.tutorat-toolbar
{
   /* background-color: #84511e;*/
}
.nav-top-background
{
    background: #5f5f5f;
}